<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>

<main>

    <strong><h1>Мартин Лютер Борн</h1></strong>
<br>
<a href="/https://ru.wikipedia.org/wiki/Джейсон_Борн_(серия_фильмов)">Видимый текст ссылки</a>
<br>
<img src="https://img.youtube.com/vi/9f6XGaCWxF4/0.jpg" alt="Мое фото" />
<br>
<strong>Привет, я <ins>американский актер шпион</ins> и это на фото!</strong>
<br>
<p>Тут я покажу вам свои <del>лучшие фильмы</del> в которых я играл на <em>NETFLIKS</em></p>
<br>
<p>А так же я немного покажу вам свою личную жизнь.</p>
<br>
<p>И воложу пару <del>семейных и смешных, <mark>ФОТО</mark></del></p>

</main>
</body>
</html>